version: "3.8"
services:
  # Main
  segment-service:
    build:
      dockerfile: Dockerfile
    container_name: main_server
    restart: always
    ports:
      - ${SERVER_HOST_PORT}:8080
    depends_on:
      segment-db:
        condition: service_healthy

    environment:
      - WAIT_HOSTS=segment-db:5432
      - SPRING_DATASOURCE_URL=jdbc:postgresql://segment-db:5432/segment
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password

  # Database
  segment-db:
    image: postgres:14.5-alpine
    container_name: segment_db
    restart: always
    volumes:
      - /var/lib/postgresql/data/
      - ./docker/postgres/init:/docker-entrypoint-initdb.d
    ports:
      - ${POSTGRES_HOST_PORT}:5432
    # переменные окружения
    environment:
      POSTGRES_DB: segment
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
